<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvGaCilL8WZwbnRrbZa1UmqhXSK80Ki_0</string>
	<key>GCM_SENDER_ID</key>
	<string>202737392623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dellsparkcity.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dellsparkcity</string>
	<key>STORAGE_BUCKET</key>
	<string>dellsparkcity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202737392623:ios:0ab0792f4e3b409f30341a</string>
</dict>
</plist>